<tr>
    <td>{{name}}</td>
    <td><img src="{{iconUrl}}" alt="{{forecastUrl}}"></td>
    <td>{{temp}}<br>{{weather}}</td>
    <td>{{smogTitle}}<br>{{smogDesc}}</td>
    <td><a href="{{smogUrl}}">zobacz</a></td>
</tr>